/* universal styles */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

header{
   border-bottom: 2px solid gray;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
   padding: 10px;
}

body{
   min-height: 100vh; 
   /* min-width: 100vw; */
   min-width: 100%;
   
}


/* CSS de las clases de las etiquetas */

.princi{
   text-align: center;
}

.cabeza {
display: inline-block;
padding: 0 50px;
color:#A5A5A5;
font-family: 'Open Sans', 'sans-serif';
font-weight: 700;
font-size: 11px;
line-height: 15px;
letter-spacing: 3.28px;
}

a{
   text-decoration: none;
}

a:hover{
   border-bottom: 3px solid #08A6E4;
   padding-bottom: 17px;
}

.titulo {
   color: #08A6E4;
   padding: 0 50px;
   font-family: 'Raleway', 'sans-serif';
   font-style: normal;
   font-weight: 300;
   font-size: 32px;

}

.buttonPrinci{
   color:white;
   background-color: #08A6E4;
   border-radius: 40px;
   box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
   width: 440px;
   height: 67px;
   border:none;
   font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-top: 25px;

}


.tituPrinci {
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 49px;
line-height: 57px;
margin-top: 150px;
   
}

.titu2Princi{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
margin-top: 20px;
}

/* Sección Why us */

.whyus{
   text-align: center;
   margin-bottom: 150px;
   }

.whyus h2{
   margin-bottom: 50px;
}

.twhyus {
   display: flex;
   justify-content: space-evenly;
} 

.num{
font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
letter-spacing: 5.96px;
}

.letter{
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #A5A5A5;
}

.person{
   position: absolute;
   margin-left: 35px;
}

.ojopalo{
   position: absolute;
   margin-left: 20px;
   margin-top: 10px;
}

.catalogpalo{
   position: absolute;
   margin-left: 35px;
}

/* Grid Benfits */

.benefits{
   display:grid;
   /* grid-template: repeat(10,4fr) / repeat(5,20%); */
   grid-template-columns: repeat(5,20%);
   background-color:  #F7F7F7;
   grid-gap: 20px 10px;
   grid-template-areas:
      '. b b b .'
      '. b b b .'
      '. y y y .'
      '. i i t .'
      '. i i t .';
}

.baf {
   grid-area: b;
   background-color: rgb(218, 117, 117);
   border: 1px solid #E8E9ED;
   border-radius: 5px;
   background-image: url("/images/Macbook2.png");
   background-repeat: no-repeat;
   background-position: right;
   height: 300px;


}

.ysi {
 grid-area: y;
 background-color: rgb(51, 13, 13);
 border: 1px solid #E8E9ED;
 border-radius: 5px;
 height: 200px;
 background-image: url("/images/iPhone2.png");
 background-repeat:no-repeat;
 background-position: left;
 
}

.irc {
 grid-area: i;
 background-color: rgb(46, 163, 192);
 border: 1px solid #E8E9ED;
 border-radius: 5px;
}

.trumpet {
   background-color:#55DFB4;
   grid-area: t;
   background-image: url("../images/Trumpet.png");
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 5px;
   border: 1px solid #E8E9ED;
   height: 200px;

}

/* Sección precios */

.precios{
   margin-top: 60px;
}

.precios article {
    
   margin: 10px 10px;
   padding: 10px 5px;
}

.tabla{
   display:flex;
   justify-content: center;
   flex-wrap: wrap;
   align-content: center;
}

.precios ul{
   list-style: '☑';
   padding: 0 35%;

}

.precios li{
   width: 100px;
   margin: 10px;
   font-family: 'Open Sans',sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 19px;
}

.a_basic{
   position: absolute;
   margin: 100px 100px;
   background: #EB476E;
   border-radius: 23px;
   border:none;
   width: 150px;
   height: 50px;
}

.a_profesional{
   background: #07ACE6;
   box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
   border-radius: 23px;
   border: none;
   width: 165px;
   height: 50px;
   margin: 120px 120px;
}

.a_premium{
   position: absolute;
   margin: 115px 120px;
   background: #55DFB4;
   border-radius: 23px;
   border:none;
   width: 150px;
   height: 50px;
}

.precios h2 {
 color: #000000;
 text-align: center;
 margin-bottom: 30px;
 font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
}

.Basic {
   background: #FFFFFF 0% 0% no-repeat padding-box;
   border: 1px solid #FB3B64;
   border-radius: 18px;
   width: 372px;
   height: 461px;   
      
}

.hb {
    display: block;
    text-align: center;
    padding: 40px 0;
}

.hb h3{
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
}

.hb p{
   font-family: Open Sans;
   font-style: normal;
   font-weight: 300;
   font-size: 46px;
   line-height: 64px;
   color: #FB3B64;
}

.proffesional {
    box-shadow: 5px 10px 27px #07ACE629;
    border: 1px solid #07ACE6;
    border-radius: 18px;
    width: 405px;
    height: 500px;
    
}

.ph {
   font-size: 40px;
   display: block;
   text-align: center;
   padding: 40px 0;
  }

  .ph h3{
   font-family: 'Raleway',sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 21px;
   line-height: 25px;
  }

  .ph_precio{
   font-family: 'Open Sans',sans-serif;
   font-style: normal;
   font-weight: 300;
   font-size: 46px;
   line-height: 70px;
   color: #07ACE6;
  }

  .ph_limit, .prh_limit{
   font-family: 'Raleway',sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 14px;
  }

.premium {
 border: 1px solid #55DFB4;
 border-radius: 18px;
 width: 372px;
 height: 461px;
}

.prh {
   font-size: 40px;
   display: block;
   text-align: center;
   padding: 40px 0;
   
}

.prh h3{
   font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
}

.prh_precio{
   font-family: 'Open Sans',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 46px;
line-height: 64px;
color: #55DFB4;
}

/* Seccion de contacto */

form{
   margin-left: 50px;
   width: 500px;
}

address{
   display: flex;
}

address a{
   position: relative;
   padding: 10px;
}

.conntac {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
   margin-top: 100px;
}

#nombre, #email {
   border: none;
   border-bottom: 1px solid #95989A;
   width: 100%;
}

.infor h4{
   font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 49px;
line-height: 58px;
}

.infor h5{
   font-family: 'Open Sans',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
}

.email, .tel{
   font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   color: #A5A5A5;
}

.textform{
   font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  color: #08A6E4;
  
  }
  
  .textcheck{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
  margin-top: 30px;
  text-indent: -15px;
  
  }

  .buttonform{
   border:none;
   color:white;
   background-color: #08A6E4;
   display: block;
   margin-left: auto;
   margin-top: 5px;
   background: #08A6E4;
   box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
   border-radius: 35px;
   width: 50%;
   height: 50px;    
}

.emailicono, .telico{
   display: flex;
   justify-content: center;
   
}

.telico{
   margin-left: 20px;
}


/* Footer */

.elpie{
   background:  #F7F7F7;
   color:rgb(0, 34, 144);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: auto;
   box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
   padding: 15px;
   padding-right: 100px;
   padding-left: 100px;

    }

    .social{
      display: flex;
      justify-content:flex-end;
      list-style: none;
   }

   .social li{
      padding:0 5px;
   }

   .footlett{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 26px;
line-height: 30px;
color: #08A6E4;
   }

.corig{
   font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 15px;
color: #A5A5A5;
}





