*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}


header {
   border-bottom: 2px solid gray;
   display: flex;
   justify-content: space-between;

}

body{
   min-height: 100vh;
   display: flex;
   flex-direction: column
}

.princi{
   text-align: center;
}

.cabeza {
display: inline-block;
padding: 0 50px;
color:gray;
}

.social{
   display: flex;
   justify-content:flex-end;
}

.piwa{
   background: #333;
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
   }

.titulo {
   color:rgb(40, 156, 251);
   padding: 0 50px;

}