/* universal styles */

*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}

header {
   border-bottom: 2px solid gray;
   display: flex;
   justify-content: space-between;
   position: fixed;

}

body{
   min-height: 100vh;
   display: flex;
   flex-direction: column
}

/* Class */

.princi{
   text-align: center;
   background-image: url('../images/Background.png');
   background-repeat: no-repeat;
   height: 500px;
}

.cabeza {
display: inline-block;
padding: 0 50px;
color:gray;
}

.social{
   display: flex;
   justify-content:flex-end;
}

.elpie{
  background: rgb(255, 255, 255);
  color:rgb(0, 34, 144);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  border-top: 2px solid rgb(117, 113, 113);
   }

.titulo {
   color:rgb(40, 156, 251);
   padding: 0 50px;

}

.buttonPrinci{
   color:white;
   background-color: #08A6E4;
   border-radius: 40px;
   width: 440px;
   height: 67px;
   border:none;

}

.tituPrinci {
   font-size: 49px;
   
}

.titu2Princi{
   font-size: 16px;
}

.whyus{
   text-align: center;
   }

.twhyus {
   display: flex;
   justify-content: space-between;
} 

.buttonPie {
   border:none;
   color:white;
   background-color: #08A6E4;
      
}

/* Grid Benfits */

.benefits{
   display:grid;
   grid-template: 20% 20% 20% 20% 20% /20% 20% 20% 20% 20%;
   background-color: rgb(251, 253, 228);
   grid-gap: 15px 20px;
   width:800px; 
   align-items: center;

}

.baf {
   grid-column: 2 / -1;
   background-color: aquamarine;
   height: 10vh;

}

.ysi {
 grid-column: 2 /spans 3;
 background-color: blue;
 width: 1124px;
 height: 370px;
 
}

.irc {
 grid-column: 1 /2 ;
 background-color: blueviolet;
 width: 623px;
 height: 370px;
}

.trumpet {
   background-color:#55DFB4;
   grid-column: 2 / span 2;
   background-image: url("../images/Trumpet.png");
   background-repeat: no-repeat;
   background-position: center;
   width: 440px;
   height: 370px;
   border-radius: 5px;
   border: 1px solid #E8E9ED;
}